#team {
  img {
    border: 1px solid $color-neutral;
    border-radius: 50%;
  }
}

@media screen and (min-width: $screen-tablet) {
  #team {
    .profile {
      flex-direction: row;
      gap: 32px;
    }

    img {
      display: block;
      margin: 8px 0;
    }
  }
}
